body{
    background-repeat: no-repeat;
    background-image: url(baseball.jpg);
    background-position: 50% 0%;
    background-size: cover;
    height: auto;
}

nav{
    padding: 10px 30px;
    display: flex;
    justify-content: end;
}

a{
    background: rgb(35, 116, 35);
    color: white;

    font-size: 20px;
    text-decoration: none;
    text-align: center;
    padding: 10px 30px;
    margin-left: 92%;
}
a:hover{
    background: rgb(57, 77, 25);
}

h1{
    font-size: 25px;
    text-align: center;
    padding: 10px 30px;
    margin: 0% 45%;
    font-size: 40px;
    background: rgb(35, 116, 35);
    color: white;
}
div#title{
    padding: 10px 30px;
    display: flex;
    justify-content: center;
}

div#Descripcion{
    display: flex;
    justify-content: center;
}
p{
    background-color: rgb(35, 116, 35);
    color: white;
    font-size: 25px;
    padding: 0px 30px ;
    padding-top: 1px;
}