body{
    background: no-repeat;
    background-image: url(Basketball.jpg);
    background-size: cover;
    background-position: 10% 10%;
}

h1{

    padding:5px 20px;
    text-align: center;
    background-color: rgb(48, 79, 126);
    margin-left: 38%;
    margin-right: 40%;
    margin-bottom: 1em;
    font-size: 3em;
    color: rgb(255, 255, 255);
}

nav{
    display: flex;
    justify-content: center;
}


ul{
    display: flex;
    justify-content: end;

}

a{
    background-color: rgb(58, 94, 94);
    color: white;
    padding: 10px 25px;
    text-decoration: none;
    font-size: 30px;

}

a:hover{
    background-color: rgb(56, 54, 44);
}

div{
    display: flex;
    justify-content: center;
}

p{
    background-color: rgb(48, 79, 126);
    color: white;
    margin-top: 5em;
    font-size: 150%;
    padding: 8px 20px;
}
