body{
    background: no-repeat;
    background-position: 10% 10%;
    background-size: cover;
    background-image: url(Deportes.jpg); 

}

div#h1, div#h2{
    display: flex;
    justify-content: center;
}

h1 {
    display: flex;
    justify-content: center;
    background-color: rgb(58, 94, 94);
    color: white;
    padding: 10px 10%;
    margin: 10px 30%;
    margin-left: 33%;
    margin-top: 2%;
    
}

h2{
    display: flex;
    justify-content: center;
    background-color: rgb(58, 94, 94);
    color: white;
    padding: 16px 10%;
    margin: 10px 23%;
    margin-left: 26%;
}

a{
    display: block;
    background-color: rgb(58, 94, 94);
}

a#bask{
    display: flex;
    justify-content: center;
    background-color: rgb(58, 94, 94);
    color: white;
    font-size: 20px;
    padding: 10px 10%;
    margin: 10px 30%;
    margin-bottom: 2%;
    text-decoration: none;
}
a#bask:hover{
    background-color: rgb(56, 54, 44);
}

a#base{
    display: flex;
    justify-content: center;
    background-color: rgb(58, 94, 94);
    color: white;
    font-size: 20px;
    padding: 10px 10%;
    margin: 10px 30%;
    margin-bottom: 2%;
    text-decoration: none;
}
a#base:hover{
    background-color: rgb(56, 54, 44);
}


a#volley{
    display: flex;
    justify-content: center;
    background-color: rgb(58, 94, 94);
    color: white;
    font-size: 20px;
    padding: 10px 10%;
    margin: 10px 30%;
    margin-bottom: 2%;
    text-decoration: none;
}
a#volley:hover{
    background-color: rgb(56, 54, 44);
}

a#tenis{
    display: flex;
    justify-content: center;
    background-color: rgb(58, 94, 94);
    color: white;
    font-size: 20px;
    padding: 10px 10%;
    margin: 10px 30%;
    margin-bottom: 2%;
    text-decoration: none;
}
a#tenis:hover{
    background-color: rgb(56, 54, 44);
}



