body{
    background-image: url(Volleyball.jpg);
    background-size: cover;
    background-position: 50% 5%;
}

.esp-enlace{
    background: blueviolet;
    color: white;
    padding: 4px 30px;
    text-decoration: none;
    display: flex;
    justify-content: end;
    margin-left: 91%;
    font-size: 30px;
}

.esp-enlace:hover{
    background: rgb(224, 135, 224);
}

h1{
    background: blueviolet;
    color: white;
    display: flex;
    justify-content: center;
    padding: 10px 30px;
    margin: 0px 40%;
    margin-bottom: 0%;
}

  /* Parrafo */
div{
   
    padding: 10px 2px;
    display: flex;
    justify-content: space-between;
}

p#one {
    font-size: 25px;
    margin-left: 60px;
    background: blueviolet;
    color: white;
    padding: 10px 30px;
}

p#two{
    font-size: 25px;
    margin-left: 35%;
    background: blueviolet;
    color: white;
    padding: 19px 30px;
}

  